* { margin:0; padding:0; box-sizing:border-box; transition:all .3s ease; }
body { font-family:Arial; cursor:default; font-size:14px; letter-spacing:0.5px;  }
#resim-listesi { margin:10px; }
#resim-listesi .resim-kutusu { margin-bottom:10px; }
#resim-listesi .resim-kutusu .resim img { max-width:300px; max-height:200px; }
#resim-listesi .resim-kutusu .metin { background:#ccc; padding:10px; }